@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.78);
    -webkit-box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.78);
}

.navbar li {
    float: left;
    padding-left: 15px;
    padding-right: 15px;


}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    margin: 10px;
    text-decoration: none;
    border-radius: 10px;

}

.navbar a i::before {
    padding-right: 5px;
}

.navbar li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: lightblue;
    color: black;

}

.content {
    padding: 20px;
    margin-top: 30px;
}


.media-sosial {
    display: flex;
    flex-direction: column;
    position: sticky;
    bottom: 100px;
    z-index: 99;
    gap: 10px;
    max-width: 50px;

}

#myBtn a i {
    color: black;
    text-decoration: none;
}

#myBtn {
    cursor: pointer;
    color: white;
    width: 40px;          
    height: 40px;         
    border-radius: 50%;    
    border: none;
    padding: 4px;
    font-size: 28px;
    background-color: #333;
}

#myBtn:hover {
    background-color: lightgray;
}


.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px auto;
    margin: 50px;

}

.column {
    padding: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.row-left {
    padding: 40px;
    height: 3200px;
    width: 67%;
    border-radius: 20px;
    box-shadow: 3px 3px 5px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 3px 5px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 5px -2px rgba(0, 0, 0, 0.75);
}

.column-right {
    padding: 30px;
    width: 320px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 3px 5px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 5px -2px rgba(0, 0, 0, 0.75);
}

img {
    border-radius: 20px;
    padding: 5px;
}

.user {
    display: flex;
    align-items: center;
    gap: 9px;
    color: inherit;
}

.hr {
    background-color: black;
    color: black;
    width: 100%;
    height: 1px;
    margin-bottom: 15px;
}

.hastag {
    display: flex;
    gap: 8px;
    margin-bottom: 12px;
}

.hastag a {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.547);
    font-size: 12px;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    color: lightslategray;
}

.hastag a:hover {
    color: black;
}

ul {
    margin-left: -30px;
    line-height: 25px;
}

article p {
    line-height: 22px;
    max-width: 628px;
}

ul li {
    max-width: 628px;
}

.news-content img {
    border-radius: 20px;
   padding: 2px;
   max-width: 80px;
   height: 80px;
}


.news-content {
    display: flex;
    align-items: center;
    gap: 9px;
    text-decoration: none;
}

.news-content a  {
    font-size: 16px;
    text-decoration: none;
    color: #111;
    
}

.news-content span {
    font-size: 10px;
    color: inherit;
}

#icon{
    color: white;
    width: 100px;          
    height: 100px;         
    border-radius: 50%;    
    border: 3px solid #333; 
    padding: 5px;
    font-size: 20px;
}

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: left;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
  }
  
  .footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
  }
  
  .footer-section h4 {
    margin-bottom: 15px;
  }
  
  .footer-section p,
  .footer-section ul {
    margin: 0;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #ffcc00;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #444;
  }
  
  .footer-section .social a {
    margin-right: 10px;
    color: #ffcc00;
  }
  
  .footer-section .social a:hover {
    text-decoration: underline;
  }
